<!-- 
Aditya, Yinwei, Caden
CAY
Softdev
K13 - Combine - Creating a table with occupations and links
2024-09-30
Time spent: 1.2
-->

<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }} </title>
    </head>

    <body> 
        <h1> {{ Heading }} </h1>
        <h2> {{ TNPGROSTER}} </h2>
        <h3> {{ Job }} </h3>

        <table>
             <tr><th> {{ Occ }} </th></tr>
             {% for item in collection %}
                 <tr><td>{{ item[0] }}</td> <td><a href="{{ item[2] }}">{{ item[2] }}</a></td><td>{{ item[1] }}</td></tr>
  
            {% endfor %}
        </table>
    </body>
</html>
